apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "jenkins.fullname" . }}-jcasc-config
  labels:
    {{- include "jenkins.labels" . | nindent 4 }}
    app.kubernetes.io/component: jcasc
    {{ template "jenkins.fullname" . }}-jenkins-config: "true"
data:
{{- $files := .Files.Glob "jcasc_yamls/*.yaml" }}
{{- range $path, $_ := $files }}
  {{ base $path }}: |-
{{ ($.Files.Get $path | toString) | indent 4 }}
{{- end }}
